# uploading_data_to_sqlite_db

In [38]:
import os
import sys
from pathlib import Path
import pandas as pd
import sqlalchemy as db
import sqlite3

Append path directory to data

In [39]:
#setting paths at runtime in jupyter notebook does not work - we'll need a variable therefore 
path = os.path.join(Path(os.getcwd()).parent, 'data', '')

### Database settings

In [40]:
# SQLite
database_path = os.path.join(path, 'dtff_database.sqlite3')
engine = db.create_engine('sqlite:///' + database_path)
sqlite_db_con = sqlite3.connect(database_path)

### classification_risk_or_no_risk

In [41]:
classification_risk_or_no_risk = pd.read_csv(path + 'classification_risk_or_no_risk.csv')
classification_risk_or_no_risk

,asset,description,high_risk_environment,low_risk_environment
0,bonds,Bonds CHF,1,0
1,bonds_global_gov,Bonds Global Government (CHF hedged),1,0
2,bonds_global,Bonds Global (CHF hedged),1,0
3,bonds_em_hc,Bonds Emerging Markets hard currency (CHF hedged),0,0
4,bonds_em_local,Bonds Emerging Markets local,0,0
5,equities_ch,Equities Switzerland,0,1
6,equities_global_dev,Equites Global Developed,0,1
7,equities_em,Equities Emerging Markets,0,1
8,equities_global_sc,Equities Global Small Cap,0,1
9,private_equity,Private Equity,0,1
10,infrastructure,Infrastructure,0,0
11,ils,ILS (desmoothed),0,0
12,gold,Gold,1,0

In [64]:
# todo: define dataytypes - common approach not working with sqlite
# classification_risk_or_no_risk_dtypes = {
#     'high_risk_environment': db.sql.sqltypes.INT()
# }

In [65]:
classification_risk_or_no_risk.to_sql('classification_risk_or_no_risk', 
                                      con=sqlite_db_con, 
                                      index=False,
                                      if_exists='replace')

### global_news_sentiment_macro

In [67]:
global_news_sentiment_macro = pd.read_csv(path + 'global_news_sentiment_macro.csv')
global_news_sentiment_macro

,date,avg_sentiment_class,avg_sentiment_positive,avg_sentiment_negative,avg_sentiment_neutral,number_of_entries
0,01.01.03,-0.361396,0.255586,0.428169,0.316246,487
1,02.01.03,-0.090111,0.343844,0.368594,0.287562,3873
2,03.01.03,-0.132844,0.330592,0.382741,0.286667,3681
3,06.01.03,-0.049776,0.351460,0.361328,0.287212,4018
4,07.01.03,-0.091088,0.342796,0.371178,0.286026,5577
...,...,...,...,...,...,...
4343,26.08.19,0.049625,0.368217,0.313489,0.318294,6932
4344,27.08.19,0.204941,0.401911,0.280299,0.317790,11535
4345,28.08.19,0.142000,0.381437,0.295664,0.322899,12000
4346,29.08.19,0.151991,0.384611,0.290443,0.324946,13185
4347,30.08.19,0.144202,0.381371,0.295365,0.323264,12538

In [68]:
global_news_sentiment_macro.to_sql('global_news_sentiment_macro', 
                                  con=sqlite_db_con, 
                                  index=False,
                                  if_exists='replace')

### returns

In [70]:
returns = pd.read_csv(path + 'returns.csv')
returns

,date,bonds,bonds_global_gov,bonds_global,bonds_em_hc,bonds_em_local,equities_ch,equities_global_dev,equities_em,equities_global_sc,private_equity,infrastructure,ils,gold
0,31.01.72,0.017431,0.004923,0.009223,0.020226,0.015092,0.071211,0.027102,0.026741,NaN,0.027102,NaN,NaN,0.040865
1,29.02.72,0.013272,0.001080,0.007954,0.019357,0.022495,0.048015,0.037393,0.036711,NaN,0.037393,NaN,NaN,0.051624
2,31.03.72,-0.006105,0.001403,0.010831,0.006751,0.000986,0.018137,0.005924,0.005907,NaN,0.005924,NaN,NaN,-0.007125
3,30.04.72,-0.005901,0.000377,-0.001086,0.005775,0.016133,0.005190,0.021818,0.021584,NaN,0.021818,NaN,NaN,0.022067
4,31.05.72,0.004686,0.003445,0.004394,0.011375,0.007761,0.065822,0.015133,0.015019,NaN,0.015133,NaN,NaN,0.102120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,30.04.19,-0.002810,-0.004627,-0.002303,-0.000474,0.021119,0.042092,0.057451,0.043385,0.053254,0.086395,0.034775,0.007666,0.015403
568,31.05.19,0.012546,0.014651,0.011158,0.000998,-0.013625,-0.017916,-0.076117,-0.092924,-0.084822,-0.061562,-0.030199,-0.032185,-0.000100
569,30.06.19,0.003769,0.011039,0.010599,0.022744,0.018809,0.042682,0.040531,0.037556,0.033182,0.052606,0.029245,0.004638,0.054006
570,31.07.19,0.013255,0.004979,0.005034,0.007673,0.022879,0.006459,0.018370,0.001906,0.019057,0.025101,-0.006420,0.019406,0.023715
571,31.08.19,0.020040,0.025707,0.019655,-0.000959,-0.019817,0.003205,-0.019766,-0.049260,-0.033970,-0.001014,0.004299,-0.002848,0.067185

In [71]:
returns.to_sql('returns', 
              con=sqlite_db_con, 
              index=False,
              if_exists='replace')